.float-container {
    border: 3px solid #fff;
    padding: 10px;
}

.float-child1 {
    width: 40%;
    float: left;
}

.float-child2 {
    width: 55%;
    float: left;
}

.iFrameContainer {
    width: 95%;
    background-color: #ffffff; 
    min-height: 300px;
}

.styled-table {
    border-collapse: collapse;
    margin: 0px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.styled-table thead th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border-radius: 10px 10px 0px 0px;
}

.styled-table th,
.styled-table td {
    padding: 8px 8px;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

